/*
  Jätetään vain mahdolliset layout- ja reset-tyylit, joita ei voi toteuttaa Tailwindilla.
*/
body {
  margin: 0;
}

hr, .separator {
  border: none;
  margin: 1.5em 0;
}

.avatar {
  border-radius: 50%;
}
